option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: sterilog-dev.czp3pmxzpkzk.ca-central-1.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: sterilog_dev
   - option_name: DB_USER
     value: root
   - option_name: DB_PASS
     value: password