.is-invalid .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.menu-icon {
    width:50px;
    height:50px;
}

body {
    overflow:hidden;
}

.hidden {
    display:none !important;
}

.largeLogo{
    width:auto;
    height:auto;

    max-width:100%;
    max-height:90%;
}
.menu-button {
    width:250px;
    height:100px;

    justify-content: space-around;
    align-items: center;
    div {
        margin-left:10px;

        p {
            font-size:15px;
            line-height:25px;
        }
    }
}
.topbar-buttons {
    a {
        img {
            // padding:10px;
            margin-right:10px;
        }
        width:200px;
        border-radius: 30px;
    }
}
.topbar-icon {
    height:30px;
    width:30px;
}

.topRight-icon {
    width:150px;
}


html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:100px;
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:100px;
}


// Soft User Login Button 

.centerContainer {
    margin:0 auto;
    display:flex;
    justify-content:center;
    width: 320px;
    p {
        line-height:20px;
        font-size:25px;
        margin-bottom:25px;
    }
    button {
        width:100%;
    }
    .error {
        font-size:18px;
        color:red;
    }
}

.buttons {
    display: flex;
    font-family: Helvetica;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
  }
  
  .button {
    border: 1px solid #006494;
    border-radius: 50px;
    color: #006494;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    margin: 10px;
    text-align: center;
    width: 70px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .button:hover {
    background-color: #006494;
    color: #FFFFFF;
  }
//   .button:active {
//     background-color: #3e8e41;
//     box-shadow: 0 5px #666;
//     transform: translateY(4px);
//   }

.passwordDiv {

    display: flex;
    align-items: center;
    justify-content: center;

    .passwordField {
        display: Flex;
        justify-content: space-evenly;
        align-items:center; 
        border: 1px solid #006494;
        width:270px;
        height:50px;
        margin-right:10px;
    }

    .removeBtn {
        display:flex;
    
        .removeButton {
    
            height:30px; 
            width:30px;
            background-color: #006494;
    
            span {
                position:relative;
                left:5px;
                font-size:20px;
                color:white;
            }
        }
    
        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 10px 15px 0;
            border-color: transparent #006494 transparent transparent;
        }
    
    }
}




.numberInput { 
    display: inline-block; 
    height: 25px; 
    background-color: #006494;
    width: 25px; 
    border-radius: 50px; 
    font-size: 2em; 
}
.asterisk {
    font-size:40px;
    line-height:70px;
}