.switchRow {
    p {
        line-height: 30px;
        width: 130px;
    }
    label {
        left:30px;
    }
}

.switch-slide {
    top:5px; 
    left:16px; 
}

.spore-slide {
    margin-left:0.3em;
}