.topbar-row  {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: baseline;

    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color:white;
    z-index:100;
    
    p {
        font-size:1.5em;
        line-height:30px;
    }

    .topbar-buttons {

        a {
            width:200px;
            border-radius: 30px;
            img {
                margin-right:10px;
            }
        }

        
    }

}

.header-container {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    margin-top:90px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    background-color:aliceblue;
    box-shadow: 0 4px 4px -3px #f0f8ff;
    -moz-box-shadow: 0 4px 4px -3px #f0f8ff;
    -webkit-box-shadow: 0 4px 4px -3px #f0f8ff;
    .headerBar {
        height: 80px;
        padding: 5px;
    }

    .header {
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: 500;
    }
}

#closeNavBtn {
    height: 45px;
    width: 45px;
    position: absolute;
    text-decoration: none;
    top: 18px;
    right: 15px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index: 100;
    color: black;
    cursor: pointer;
    -webkit-transition: background-position .3s;
    transition: background-position .3s;
}
.menulist {
    display: none;
    padding-left: 0px;
    
    background-color: aliceblue;
    li {
        text-align:center;
        list-style:none; 
        width: 100%;
    }



    li a {
        padding-top:6px;
        padding-bottom:6px;
        text-decoration: none;
        list-style:none; 
        font-weight: 500;
        font-size: 30px;
        display: inline-block;
        position:relative;	
        text-align:center;
        // border:1px solid;
        width: 100%;
        cursor:pointer;
        color: black;
        transition: all .5s ease-in-out;
    }  
}


.line1, .line2, .line3 {
    margin-top: 7px;
    background-color: black;
    width: 35px;
    height: 4px;
    display: block;
    position: relative;
    opacity: 1.0;
    border-radius: 15%;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .line1.active {
    transform: rotate(270deg);
    opacity:0.0;
    background-color:black;
    top:5px;
  }
  
  .line2.active {
    transform: rotate(45deg);
    background-color:black;
  }
  
  .line3.active {
    transform: rotate(-45deg);
    background-color:black;
    top:-11px;
  }



.menulist li:hover {
    a {
        color:#2884C6;
    }
}
.menuitems:after {
    content:'';
    display:block; 
    width: 0;
    height: 1px;
    background: #2884C6;
    transition: width .2s;
  }

//   .menuitems:hover::after {
//       width:100%;
//   }

.header-row {
    padding:5px;
}
// .header-text {
//     overflow: hidden;
//     position: fixed; 
//     top: 0;
//     width: 100%;
//     // background-color:white;
//     // z-index:100;
//     margin-top:90px;
// }

.topbar-icon {
    height:30px;
    width:30px;
}

.sterilizer +.select2-selection__rendered {
    line-height: 35px !important;
}
.sterilizer + .select2-container--bootstrap .select2-selection--single {
    height:45px !important;
    line-height: 2 !important;
}


//Error Bar ;

.fullWidthAlert {
    // position:absolute !important;
    width:100% !important;
    z-index:1 !important;
    opacity:0.95 !important;
    display: inline-block;
    
    overflow: hidden;
    position: fixed; 
    top: 172px;
    // width: 100%;
    // z-index:101;
}

.container-margin {
    margin-top:180px;
}

